@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center
}


// @include MyFlex;

#resumePage {
    height: 100vh;
    display: flex;
    background-color: var(--mode-color-1);

  

        .upBox {
            width: 100%;
            @include MyFlex;
            position: relative;
            padding: 20px;

            .backText {
                @include MyFlex;
                gap: 20px;

                p {
                    font-size: 100px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 800;
                    opacity: 0.7;
                    color: var(--mode-color-2);
                }

                span {
                    height: 2px;
                    width: 100px;
                    background: var(--mode-color-2);
                }
            }

            .frontText {
                position: absolute;

                P {
                    font-size: 50px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 800;
                    color: var(--mode-color-3);

                    span {
                        color: var(--mode-color-5);
                    }
                }
            }
        }
}